<!-- <h1>{{name}}</h1>

<button (click)="clickSurRichard()">Je clique sur fuckRichard</button>
<button (click)="modifyTheSentence()">Modifier le nom dans phrase</button>
<button (click)="addTheDay()">Ajouter le jour</button> -->

<button (click)="synchronousFunction()">boutton synchrone</button>

<button (click)="asynchronousFunction()">boutton Asynchrone</button>

<!-- Ici App.component sera considérer comme le composant parent -->

<app-child [nameInChild]="nameInParent" (radioSkyRock)="onReceiveMessage($event)"></app-child>